:root {
  --size: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  width: 500px;
  height: 500px;
  border: 5px solid green;
  margin: 50px;
}

.square {
  border: 1px solid darkcyan;
}

.water {
  background-color: aqua;
}

.water.checked {
  background-color: green;
}

.ship {
  background-color: darkgrey;
}

.ship.checked {
  background-color: red;
}