:root {
  --size: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcer {
  position: absolute;
  top: -220px;
  font-size: 50px;
  text-align: center;
  padding: 8px;
  border: 2px solid black;
  border-radius: 4px;
  width: 400px;
}

.your-board-container {
  position:relative;
}

.gameboard {
  position: relative;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  width: 500px;
  height: 500px;
  border: 5px solid darkcyan;
  margin: 50px;
}

.gameboard.player::before {
  position: absolute;
  content: "Player";
  font-size: 48px;
  top: -80px;
  left: 170px;
}

.gameboard.enemy::before {
  position: absolute;
  content: "AI";
  font-size: 48px;
  top: -80px;
  left: 210px;
}

.square {
  border: 1px solid darkcyan;
}

.water {
  background-color: aqua;
}

.water.checked {
  background-color: green;
}

.ship {
  background-color: darkgrey;
}

.ship.checked {
  background-color: rgb(238, 69, 39);
}

.preview-board {
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -43px;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(calc(var(--size) + 4), 1fr);
  width: 687px;
  height: 690px;
}

.preview-square.active {
  background-color: rgba(255, 166, 0, 0.5);
}

.preview-square.active.problematic {
  background-color: rgba(255, 68, 0, 0.5);
}

.utilities {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.utilities > button {
  font-size: 24px;
  width: 150px;
  padding: 8px;
}

.orientation-switch {
  text-align: center;
  font-size: 24px;
  padding: 8px;
  border: 1px solid black;
}

.orientation-switch::before {
  content: "Press R to rotate\A";
  font-size: 20px;
}

.orientation-switch:hover {
  transform: scale(1.01);
  background-color: rgb(238, 237, 237);
}