:root {
  --size: 10;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-board-container {
  position:relative;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  width: 500px;
  height: 500px;
  border: 5px solid green;
  margin: 50px;
}

.square {
  border: 1px solid darkcyan;
}

.water {
  background-color: aqua;
}

.water.checked {
  background-color: green;
}

.ship {
  background-color: darkgrey;
}

.ship.checked {
  background-color: red;
}


.preview-board {
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -45px;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(calc(var(--size) + 4), 1fr);
  width: 690px;
  height: 690px;
}

.preview-square.active {
  background-color: rgba(255, 166, 0, 0.5);
}

.preview-square.active.problematic {
  background-color: rgba(255, 68, 0, 0.5);
}

